/* src/App.css */
.App {
    font-family: sans-serif;
    text-align: center;
    margin-top: 50px;
  }
  
  .grid {
    margin-top: 20px;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  